<% provide(:title, "レシピ編集") %>
<section class="section content-width">
  <h1 class="sectionTitle">現在公開されているレシピ情報</h1>
  <h2 class="recipe__title"><%= @recipe.title %></h2>
  <div class="recipe">
    <div class="recipe__image">
      <% if @recipe.image.attached? %>
        <%= image_tag @recipe.image %>
      <% else %>
        <%= image_tag 'noimage.jpg', class: "image", alt: 'デフォルト画像' %>
      <% end %>
    </div>
    <div class="recipe__info">
      <div class="recipe__ingredient">
        <h2 class="recipe__info-head">材料</h2>
          <%= simple_format @recipe.ingredient, class: "recipe__info-content" %>
      </div>
      <div class="recipe__body">
        <h2 class="recipe__info-head">作り方・説明</h2>
          <%= simple_format @recipe.body, class: "recipe__info-content" %>
      </div>
    </div>
  </div>
</section>
<section class="section content-width">
  <div class="form__inner form__inner-editPage">
    <h1 class="sectionTitle">レシピ内容の編集</h1>
    <%= form_with(model: @recipe, local: true, class: "form") do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title, "レシピタイトル（編集）", class: "form__label" %>
      <%= f.text_field :title, class: "form__field" %>

      <%= f.label :ingredient, "材料（編集）", class: "form__label" %>
      <%= f.text_area :ingredient, class: "form__field form__textarea" %>

      <%= f.label :body, "作り方・説明（編集）", class: "form__label" %>
      <%= f.text_area :body, class: "form__field form__textarea" %>

      <label class="form__label">レシピのイメージ画像（再設定）</label>
      <%= f.file_field :image, class: "image__field", accept: "image/jpeg,image/gif,image/png" %>

      <%= f.submit "レシピ内容を更新する", class: "form__btn btn" %>
    <% end %>
  </div>
</section>