<% provide(:title, "レシピを投稿") %>
<section class="section content-width">
  <div class="form__inner-newPage">
    <h1 class="sectionTitle">レシピを投稿する</h1>
    <%= form_with(model: @recipe, url: recipes_path, scope: :recipe, local: true, class: "form") do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title, "レシピタイトル", class: "form__label" %>
      <span class="required">必須</span>
      <%= f.text_field :title, class: "form__field", placeholder: "レシピタイトルを入力" %>

      <%= f.label :ingredient, "材料", class: "form__label" %>
      <span class="required">必須</span>
      <%= f.text_area :ingredient, class: "form__field form__textarea", placeholder: "レシピに用いる具材や調味料を入力"%>

      <%= f.label :body, "作り方・説明（任意）", class: "form__label" %>
      <%= f.text_area :body, class: "form__field form__textarea", placeholder: "作り方やレシピについての説明を入力（※任意）" %>

      <div class="form__layout">
        <div class="form__layout-item">
          <%= f.label :duration, "所要時間(分)", class: "form__label-short" %>
          <span class="required">必須</span>
          <%= f.number_field :duration, class: "form__field-short" %>
        </div>
        <div class="form__layout-item">
          <%= f.label :cost, "値段(円)", class: "form__label-short" %>
          <span class="required">必須</span>
          <%= f.number_field :cost, class: "form__field-short" %>
        </div>
        <div class="form__layout-item">
          <%= f.label :tag, "ズボラポイント", class: "form__label-short" %>
          <%= f.select :tag, [['時短レシピ', 1], ['格安レシピ', 2]], { include_blank: true }, { class: "form__field-short" } %>
        </div>
      </div>

      <label class="form__label form__label-image">レシピのイメージ画像</label>
      <%= f.file_field :image, class: "image__field", accept: "image/jpeg,image/gif,image/png" %>

      <%= f.submit "レシピを投稿する", class: "form__btn btn" %>
    <% end %>
  </div>
</section>