<% provide(:title, @recipe.title) %>
<section class="section content-width">
  <h1 class="sectionTitle">こだわりレシピ</h1>
  <h2 class="recipe__title"><%= @recipe.title %></h2>
  <div class="recipe__layout">
    <div class="recipe__layout-userInfo">
      <div class="recipe__user">
        <%= link_to user_path(@user), class: 'recipe__user-image' do %>
          <% if @user.image.attached? %>
            <%= image_tag @user.image, :class => "image" %>
          <% else %>
            <%= image_tag 'default.svg', :class => "image", :alt => 'デフォルト画像' %>
          <% end %>
        <% end %>
        <span class="recipe__user-name"><%= link_to @user.name, user_path(@user) %></span>
      </div>
      <span class="recipe__timestamp">
        投稿日：<%= l @recipe.created_at, format: :default %>
      </span>
    </div>
    <div class="recipe__layout-points">
      <p class="recipeCard__tag">ズボラポイント：
        <%= link_to @tag, short_time_path, class: "recipeCard__tag-text1" %>
      </p>
      <div class="recipeCard__info">
        <p class="recipeCard__duration">
          <%= image_tag 'timer.svg', :alt => '時計の画像' %>
          <%= @recipe.duration %>分
        </p>
        <p class="recipeCard__cost">
          <%= image_tag 'yen.svg', :alt => 'お金の画像' %>
          <%= @recipe.cost %>円
        </p>
      </div>
    </div>
  </div>

  <div class="recipe">
    <div class="recipe__image">
      <% if @recipe.image.attached? %>
        <%= image_tag @recipe.image %>
      <% else %>
        <%= image_tag 'noimage.jpg', class: "image", alt: 'デフォルト画像' %>
      <% end %>

      <% if !current_user?(@user) && logged_in? %>
        <%= render 'favorite_form' %>
      <% end %>
    </div>
    <div class="recipe__info">
      <div class="recipe__ingredient">
        <h2 class="recipe__info-head">材料</h2>
          <%= simple_format @recipe.ingredient, class: "recipe__info-content" %>
      </div>
      <div class="recipe__body">
        <h2 class="recipe__info-head">作り方・説明</h2>
          <%= simple_format @recipe.body, class: "recipe__info-content" %>
      </div>
    </div>
  </div>
  <% if current_user?(@user)%>
    <div class="recipe__btn">
      <%= link_to "レシピを編集する", edit_recipe_path(@recipe),class: "recipe__edit-btn btn"%>
      <%= link_to "レシピを削除する", recipe_path, method: :delete, data: { confirm: "本当に削除しますか?" }, class: "recipe__delete-btn btn"%>
    </div>
  <% end %>
</section>

<section class="section content-width">
  <h1 class="sectionTitle">コメント一覧</h1>
    <div class="comments">
      <ul class="comments__list">
        <%= render @comments %>
        <% if @comments.empty? %>
          <p class="nothing">この投稿にコメントはありません。</p>
        <% end %>
      </ul>
    </div>

  <% if logged_in? %>
    <div class="modalBtn">
      <button id="openModal">コメントを追加</button>
    </div>
    <div id="modalArea" class="modalArea">

      <div id="modalBg" class="modalBg"></div>

      <div class="modalWrapper">
        <div class="modalContents">
          <div class="form__inner-modal">
            <h1 class="sectionTitle">コメントを投稿する</h1>
            <%= form_with(model: [@recipe, @comment], local: true, class: "form") do |f| %>

              <%= f.label :content, "コメント", class: "form__label" %>
              <%= f.text_area :content, class: "form__field form__textarea", placeholder: "コメントを入力" %>

              <%= f.submit "コメントを投稿する", class: "form__btn btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</section>


