<% provide(:title, "ユーザー一覧") %>
<section class="section content-width">
  <div class="container">
    <div class="profileCard profileCard__users">
    <h2 class="subTitle">現在のユーザー</h2>
      <ul class="profileCard__info">
        <li class="profileCard__image">
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image %>
          <% else %>
            <%= image_tag 'default.svg', :class => "image", :alt => 'デフォルト画像' %>
          <% end %>
        </li>
        <li class="profileCard__user">
          <p class="profileCard__user-name"><%= current_user.name %></p>
          <% if current_user.recipes.any? %>
            <p class="profileCard__user-postsCounts">投稿数：<%= current_user.recipes.count %></p>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="users">
      <h2 class="subTitle">登録ユーザー一覧</h2>
      <ul class="users__list">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    </div>
  </div>
</section>