<% provide(:title, @user.name) %>
    <section class="section content-width profile">
      <h1 class="sectionTitle">ユーザー情報</h1>
      <div class="profileCard profileCard--margin-top">
        <ul class="profileCard__info">
          <li class="profileCard__image">
            <%= render 'users/user_image'%>
          </li>
          <li class="profileCard__user">
            <p class="profileCard__user-name"><%= @user.name %></p>
            <% if @user.recipes.any? %>
              <p class="profileCard__user-postsCounts">投稿数 <%= @user.recipes.count %></p>
            <% else %>
              <p class="profileCard__user-postsCounts">投稿数 0</p>
            <% end %>
            <%= render 'shared/stats' %>
          </li>
        </ul>
        <%= render 'follow_form' if logged_in? %>
      </div>
    </section>
    <section class="section content-width">
      <h1 class="sectionTitle">私のレシピ一覧</h1>
      <ul class="recipes">
        <% if @recipes.any? %>
          <%= render @recipes %>
        <% else %>
          <p class="nothing" style="padding-left: 30px;">現在投稿されているレシピはありません</p>
        <% end %>
      </ul>
      <%= will_paginate @recipes %>
    </section>