<% provide(:title, @title) %>
<section class="section content-width">
  <div class="container">
    <div class="profileCard profileCard__users">
    <h2 class="subTitle">ユーザー情報</h2>
      <ul class="profileCard__info">
        <li class="profileCard__image">
          <%= render 'users/user_image'%>
        </li>
        <li class="profileCard__user">
          <p class="profileCard__user-name"><%= @user.name %></p>
          <% if @user.recipes.any? %>
            <p class="profileCard__user-postsCounts">投稿数：<%= @user.recipes.count %></p>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="users">
    <h2 class="subTitle"><%= @title %></h2>
    <% if @users.any? %>
      <ul class="users__list">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
    </div>
  </div>
</section>