<% provide(:title, "ホーム") %>
<section class="section content-width">
  <h1 class="sectionTitle">最近のレシピ</h1>
  <ul class="recipes recipes-latest">
    <% if @recipes.any? %>
      <%= render @recipes %>
    <% else %>
      <p class="nothing" style="padding-left: 30px;">現在投稿されているレシピはありません</p>
    <% end %>
  </ul>
  <div class="read-more">
    <%= link_to "レシピ一覧へ", recipes_path ,class: "read-more__btn btn"%>
  </div>
</section>
<section class="section content-width">
  <h1 class="sectionTitle">お気に入りの多いレシピ</h1>
  <ul class="recipes recipes-favorites">
    <% if @favorite_recipes.any? %>
      <%= render @favorite_recipes %>
    <% else %>
      <p class="nothing" style="padding-left: 30px;">現在投稿されているレシピはありません</p>
    <% end %>
  </ul>
</section>
<% if logged_in? %>
  <section class="section content-width">
    <h1 class="sectionTitle">フォローしているユーザーのレシピ</h1>
    <ul class="recipes recipes-following">
    <% if @following_recipes.any? %>
      <%= render @following_recipes %>
    <% else %>
      <p class="nothing" style="padding-left: 30px;">現在投稿されているレシピはありません</p>
    <% end %>
    </ul>
    <div class="read-more">
      <%= link_to "もっと見る", following_user_recipes_path, class: "read-more__btn btn"%>
    </div>
  </section>
<% end %>