<header class="header">
    <div class="header__inner content-width">
      <h1 class="header__logo"><%= link_to 'ZuboRecipes', root_path, class: 'header__logo-link' %></h1>
      <div class="header__search">
        <form>
          <input type="search" name="search" placeholder="キーワードを入力" class="search__form">
          <input type="submit" name="submit" value="レシピ検索" class="submit__btn btn">
          <p class="header__search-text">検索したいキーワードを入力してください。</p>
        </form>
      </div>
      <div class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item"><%= link_to 'レシピを投稿', '#', class: 'header__menu-link' %></li>
          <li class="header__menu-item"><%= link_to 'お気に入り', '#', class: 'header__menu-link' %></li>
        </ul>
      </div>
    </div>
    <nav class="header__nav">
      <div class="header__nav__inner">
        <ul class="header__nav-list">
          <li class="header__nav-item"><%= link_to 'ホーム', root_path, class: 'header__nav-link' %></li>
        <% if logged_in? %>
          <li class="header__nav-item"><%= link_to 'ユーザー一覧', '#', class: 'header__nav-link' %></li>
          <li class="header__nav-item"><%= link_to 'プロフィール', current_user, class: 'header__nav-link' %></li>
          <li class="header__nav-item"><%= link_to 'ユーザー設定', edit_user_path(current_user), class: 'header__nav-link' %></li>
          <li class="header__nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'header__nav-link' %></li>
        <% else %>
          <li class="header__nav-item"><%= link_to 'ログイン', login_path, class: 'header__nav-link' %></li>
          <li class="header__nav-item"><%= link_to 'ユーザー登録', signup_path, class: 'header__nav-link' %></li>
        <% end %>
        </ul>
      </div>
    </nav>
  </header>